body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.top-level-message {
  text-align: center;
}
.time-message {
  text-align: center;
}
.lesson-wrapper {
  display: flex;
}
